#Bhasini API key
BHASINI_API_KEY=""

#DB/Cache connection urls
DB_URL=""
REDIS_URL=""

#Eureka server connection urls
EUREKA_SERVER_URL=""

#JWT verification reqs
JWT_HASH_ALGO=""
JWT_KEY=""

#Server config settings
SERVICE_NAME="translation-service"
INSTANCE_PORT="8080"
MAX_RETRY=3
TIMEOUT=3
RETRY_DELAY_INIT=1
MIN_DB_CONN=2
MAX_DB_CONN=10
PROCESS_POOL_SIZE=4

#Twilio
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NO=""

#SMTP
SMTP_ADDRESS_FROM=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_PASSWORD=""
SMTP_USERNAME=""