#web frameworks
fastapi==0.141.1
uvicorn[standard]==0.52.1
python-multipart==0.0.32

#http request sender
httpx==0.28.1

#DB connectors
asyncpg==0.31.0
redis==7.4.0

#Eureka service registration client
py-eureka-client==0.13.3

#jwt verifier
pyjwt==2.13.0

#notification senders
aiosmtplib==5.1.2

#others
pydantic==2.13.4
python-dotenv==1.2.2
aiofiles==25.1.0
weasyprint==69.0
jinja2==3.1.6
pyngrok==8.1.2

#server specific
geopandas==1.1.4
rasterio==1.5.1
numpy==2.5.2
scipy==1.18.1
ee==0.2
earthaccess==0.18.0
shapely==2.1.2
pyogrio==0.13.0
numpy==2.5.2
pandas==3.0.5
pyproj==3.7.2
pyrosm==0.13.1
h3==4.5.0
geopy==2.5.0
